p,h1,div,form{
    color: white;
    font-family: "Times New Roman", Times, serif;
  }
  .button1{
    background-color: rgb(151, 115, 60);
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
  }

  body{
    padding: 20px
  }

  * { padding: 0; margin: 0; }
  canvas { background: #eee; display: block; margin: 0 auto; }

  